* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #652a91;
}


header {
    background-color: #652a91;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 45px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.search-section {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 20px 0;
}

.search-section h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.search-bar {
    padding: 10px;
    width: 50%;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.categories {
    text-align: center;
    padding: 20px;
}

.categories h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category:hover {
    background-color: #f4f4f4;
}

.category h3 {
    font-size: 23px;
}

.category a {
    color: #5d08a3;
}
