body {
    font-family: 'Cormorant Garamond', serif;
    color: #cc0000;
    background: url(register.jpeg) no-repeat center center fixed;
    background-size: cover;
    margin: 0; /* Remove default body margin */
}

header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for contrast */
    padding: 10px 20px; /* Padding for the header */
}

.nav-section {
    display: flex; /* Use flexbox for layout */
}

.nav-links {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display links in a row */
    justify-content: space-between; /* Evenly space links */
    width: 100%; /* Full width of the header */
}

.nav-links li {
    margin: 0; /* Remove margin from list items */
    flex: 1; /* Allow links to grow equally */
    text-align: center; /* Center text in each link */
}

.nav-links a {
    color: #c20000; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em; /* Font size */
    transition: color 0.3s; /* Smooth color transition */
}

.nav-links a:hover {
    color: #000000; /* Change color on hover */
}

.welcome-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh - 60px); /* Full height minus header */
    flex-direction: column; /* Stack elements */
}

.welcome-section h1 {
    font-size: 3em;
    font-weight: 400;  /* Lighter weight */
    font-family: 'Bodoni Moda', serif;
    text-align: center; /* Center text */
}

.welcome-section .portfolio {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: 3em;
}

.welcome-section .year {
    font-size: 1.5em; /* Increase font size */
    vertical-align: super;
    margin-left: 0.2em;
}

.search-bar {
    margin-top: 20px; /* Space between title and search bar */
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 5px; /* Rounded corners for a softer look */
    outline: none; /* Remove outline */
    width: 250px; /* Width of the search bar */
}

.search-bar input::placeholder {
    color: #aaa; /* Placeholder color */
}

.subtitle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    font-weight: 300; /* Thinner font weight for elegance */
    margin-top: 0.5em;
    color: #666;
}

